---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import LessonList from "@/components/LessonList.astro";
import LessonPlayer from "@/components/LessonPlayer.astro";
import { getLessons, getLessonProgress, addStudent } from "@/lib/appwrite";
import {
  showCourseDetails,
  studentIsInDB,
  hasStudentPaid,
  instructorCheck,
} from "@/lib/helper";

const user = await Astro.locals.currentUser();
if (!user) throw Astro.redirect("/login");
const email = user.emailAddresses[0].emailAddress;
const course = await showCourseDetails();
const lessons = (await getLessons(course?.$id!)) || [];

//is the user already in the db?
const data = await studentIsInDB(user.id);
if (!data) {
  const student = await addStudent({
    userID: user?.id,
    name: user?.username,
    email: email,
    courses: [course?.$id],
  });
  console.log("New student added to DB:", student);
}
const isInstructor = await instructorCheck(email);
const student = await hasStudentPaid(user.id);
if (!student && !isInstructor ) {
  return Astro.redirect("/checkout");
}

// Track progress for each lesson
let lessonProgress: { [key: string]: boolean } = {};
for (const lesson of lessons) {
  const progress = await getLessonProgress(user.id, lesson.$id);
  lessonProgress[lesson.$id] = Boolean(progress && progress.length > 0);
}
---

<DefaultLayout>
  <div class="flex min-h-screen bg-gray-50">
    <LessonList lessons={lessons} lessonProgress={lessonProgress} />
    <main class="flex-1 px-10 py-8">
      <LessonPlayer lessons={lessons} user={user} courseID={course?.$id} />
    </main>
  </div>
</DefaultLayout>
